extends base 

block content
    .fill.container-resource
        .hcontain
            .post-form
                form#postForm(action='#')
                    input.title#title(placeholder='Title' type='text')
                    input.title#tag(placeholder='Tag' type='text' name='editor1')
                    textarea#post.text(placeholder='Sharing an article today?' type='textarea' style='s')
                    div
                        input.file#images(type='file')
                        button Post
            .content-list-res
                each post in posts 
                    .list-item-card

                        img.card-image(src=`/img/posts/${post.images[0]}` alt='')


                        a.h11(href=`/posts/${post.slug}`) 
                            .list-caption #{post.title}
                            span.sub #{post.summary.substr(0,20) + '...'} 
                        .author Created by: 
                            span !{post.author.fname}





